<div id=GNMN0000 ng-Controller='GNMN0000Ctrl'>
    <!-- Start Condition -->
    <form name="form">
        <!-- End Message -->
        <div id="biz">
            <div id="result">
                <div class="cs-row cs-clearfix cs-menu-text">
                    正常にログインしました。<br />
                    <br /> 本日の日付は、{{year}}年{{month}}月{{day}}日です。<br />
                    <br />
                    <span class="cs-menu-text-light">メニューから業務を選択してください。</span>
                </div>
            </div>
        </div>
    </form>
    <!-- End Result -->
    <!-- Start Footer -->
    <div id="footer">
        <div class="cs-footer-button"></div>
    </div>
    <!-- End Footer -->
</div>
