<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jp.co.necsoft.web_md.core.si.sijp1150.dao.Sijp1150Mapper">
 <select id="selectS001eosds033seidSijp1150data" parameterType="jp.co.necsoft.web_md.core.app.dto.si.Sijp1150Dto" resultType="jp.co.necsoft.web_md.core.app.dto.si.S001eosds033seiDataResult">
 
         <if test="denKbnDb != null and denKbnDb=='01'">
		   SELECT
                       DPY_NO  AS DPYNO
                       ,DPY_KBN  AS DPYKBN
                      , KAISYA_CD AS KAISYACD
                      ,JIGYOUBU_CD AS JIGYOUBUCD
                       ,TEN_CD AS TENCD
                       , BMN_CD AS BMNCD
                      ,NHN_YMD AS NHNYMD
                       ,TORIHIKI_CD AS TORIHIKICD
                       ,HAT_YMD AS HATYMD
                       ,LAST_KAKUTEI_YMD AS NHNYOTEIYMD
                       ,S_KEN_GENK_KIN  AS SKENGENKKIN
                        ,S_KEN_BAIK_KIN AS SKENBAIKKIN
                       , KASAN_KBN AS KASANKBN
		    FROM S001EOSD
		    
		</if>
		<if test="denKbnDb != null  and denKbnDb =='02'">
		 SELECT
                       DPY_NO AS DPYNO
                       ,DPY_KBN AS DPYKBN
                       ,KAISYA_CD AS KAISYACD
                      ,JIGYOUBU_CD AS JIGYOUBUCD
                       ,TEN_CD AS TENCD
                       , BMN_CD AS BMNCD
                     , NHN_YMD AS NHNYMD
                       ,TORIHIKI_CD AS TORIHIKICD
                      , HAT_YMD AS HATYMD
                       ,LAST_KAKUTEI_YMD AS NHNYOTEIYMD
                       ,S_KEN_GENK_KIN AS SKENGENKKIN
                        ,S_KEN_BAIK_KIN AS SKENBAIKKIN
                        ,KASAN_KBN AS KASANKBN
		 	FROM S002TGKD
		</if>
		<if test="denKbnDb != null  and  denKbnDb =='03'">
		 SELECT
		  					DPY_NO AS DPYNO
	                        ,DPY_KBN AS DPYKBN
	                        ,ENTRY_KBN  AS KAISYACD
	                        ,ENTRY_PLACE AS JIGYOUBUCD
	                        
			<if test="idoDenKbn != null and idoDenKbn =='01'">
	                      
	                       ,OUT_TENPO_CD AS TENCD
	                       ,OUT_BMN_CD  AS BMNCD
	                       ,SYUKA_YMD AS NHNYMD
	                       ,IN_TENPO_CD AS  TORIHIKICD
	                      
	               
			</if>
			<if test="idoDenKbn != null and idoDenKbn =='02'">
	                ,IN_TENPO_CD AS TENCD
		            ,IN_BMN_CD	  AS BMNCD
		            ,SYUKA_YMD    AS NHNYMD       
		            ,OUT_TENPO_CD	AS  TORIHIKICD
			</if>
			<if test="idoDenKbn != null and idoDenKbn !='01' and idoDenKbn !='02' ">
				,TEN_CD AS TENCD
		    	,BMN_CD		   AS BMNCD   
		    	 ,SYUKA_YMD    AS NHNYMD     
		   		
			</if>
			 		, HAT_YMD AS HATYMD
					,LAST_KAKUTEI_YMD  AS NHNYOTEIYMD
                    ,S_KEN_GENK_KIN AS SKENGENKKIN
                    ,S_KEN_BAIK_KIN AS SKENBAIKKIN
                    ,KASAN_KBN AS KASANKBN
			FROM S003FRID 
		</if>
		<if test="denKbnDb != null  and denKbnDb =='04'">
	
		 SELECT
                        DPY_NO AS DPYNO
                        ,DPY_KBN AS DPYKBN
                       ,KAISYA_CD AS KAISYACD
                        ,JIGYOUBU_CD AS JIGYOUBUCD
                       ,TEN_CD  AS TENCD
                        ,BMN_CD   AS BMNCD          
                      ,KEIJO_YMD AS NHNYMD
                        ,ENTRY_KBN  AS ENTRYKBN
                        ,KASAN_KBN AS KASANKBN
                        ,LAST_KAKUTEI_YMD  AS NHNYOTEIYMD
	                        ,S_KEN_GENK_KIN AS SKENGENKKIN
	                        ,S_KEN_BAIK_KIN AS SKENBAIKKIN
                        ,ENTRY_PLACE AS ENTRYPLACE
			FROM S004BHHK 
		</if>
		<if test="denKbnDb != null  and denKbnDb =='06'">
		 SELECT  DPY_NO  AS DPYNO
                       ,DPY_KBN  AS DPYKBN
                       ,KAISYA_CD AS KAISYACD
                      ,JIGYOUBU_CD AS JIGYOUBUCD
                      , TEN_CD AS TENCD
                        ,BMN_CD AS BMNCD
                      ,NHN_YMD AS NHNYMD
                       ,TORIHIKI_CD AS TORIHIKICD
                      , HAT_YMD AS HATYMD
                      , LAST_KAKUTEI_YMD AS NHNYOTEIYMD
                      , S_KEN_GENK_KIN  AS SKENGENKKIN
                        ,S_KEN_BAIK_KIN AS SKENBAIKKIN
                        ,KASAN_KBN AS KASANKBN
			FROM S033SEID 
		</if>
		   
		    <if test="denKbnDb != null  and denKbnDb !='03'">
		    	 	 WHERE KAISYA_CD = #{kaisyaCd}
            
	            <if test="jigyobuCd != null and jigyobuCd !=''">
	                    AND JIGYOUBU_CD = #{jigyobuCd}
	                    
	             </if>

	           <if test="denKbn != null and denKbn !=''">
	                    AND DPY_KBN = #{denKbn}
	                    
	             </if>
		    </if>
	    <if test="denKbnDb != null  and denKbnDb =='03'">
	    	 	 WHERE  DPY_KBN = #{denKbn}
                    
	    </if>
		  <if test="tenCds != null ">
               	AND 
               <if test="denKbnDb != null and denKbnDb =='03'">
						<if test="idoDenKbn != null and idoDenKbn =='01'">
				                 OUT_TENPO_CD
						</if>
						<if test="idoDenKbn != null and idoDenKbn =='02'">
				                IN_TENPO_CD
						</if>
						<if test="idoDenKbn != null and idoDenKbn !='01' and idoDenKbn !='02' ">
							TEN_CD
						</if> 
						<if test="idoDenKbn == null">
							TEN_CD
						</if>
			</if>
			<if test="denKbnDb != null and denKbnDb !='03'">
				TEN_CD
			</if>
			<if test="denKbnDb == null">
				TEN_CD
			</if>
			IN
			 <foreach item="tenCd" index="index" collection="tenCds" open="(" separator="," close=")">
				        #{tenCd}
				      </foreach>
		</if> 
          <if test="bmnCds != null">
               	AND 
               	<if test="denKbnDb != null and  denKbnDb =='03'">
						<if test="idoDenKbn != null and idoDenKbn =='01'">
				                      
				                      OUT_BMN_CD
						</if>
						<if test="idoDenKbn != null and idoDenKbn =='02'">
				                IN_BMN_CD	
						</if>
						<if test="idoDenKbn != null and idoDenKbn !='01' and idoDenKbn !='02' ">
							TEN_CD
						</if> 
						<if test="idoDenKbn == null">
							BMN_CD
						</if>
					</if>
					<if test="denKbnDb != null and  denKbnDb !='03' ">
						BMN_CD	
					</if> 
					<if test="denKbnDb == null">
						BMN_CD	
					</if> 
			IN 
			<foreach item="bmnCd" index="index" collection="bmnCds" open="(" separator="," close=")">
				        #{bmnCd}
				      </foreach>
			</if> 
			<if test="denKbnDb != null and denKbnDb !='03' and denKbnDb !='04'">
            	<if test="torisakis != null">
               	AND MAIN_TORI_CD
			IN 
			<foreach item="torisaki" index="index" collection="torisakis" open="(" separator="," close=")">
				      #{torisaki}
				      </foreach>
			</if>  
		   </if>
		   <if test="nhnDateSt != null and nhnDateSt !=''">
                	
                	AND <if test="denKbnDb != null and denKbnDb =='03'">
					                      
					                      SYUKA_YMD
					                      
					               
							</if>
							<if test="denKbnDb != null and denKbnDb =='04'">
					                KEIJO_YMD
							</if>
							<if test="denKbnDb != null and denKbnDb !='03' and denKbnDb !='04' ">
								NHN_YMD
							</if> 
							<choose>
                		<when test="nhnDateEd == null or nhnDateEd ==''">
	                		
                					 >= #{nhnDateSt}
						</when>
						<otherwise>
						 >= #{nhnDateSt}
                           AND <if test="denKbnDb != null and denKbnDb =='03'">
					                      
					                      SYUKA_YMD
					                      
					               
							</if>
							<if test="denKbnDb != null and denKbnDb =='04'">
					                KEIJO_YMD
							</if>
							<if test="denKbnDb != null and denKbnDb !='03' and denKbnDb !='04' ">
								NHN_YMD
							</if> 
							 <![CDATA[<= ]]>  #{nhnDateEd}
                           </otherwise>
					</choose>
             </if>
             <if test="nhnDateSt == null or nhnDateSt ==''">
             <if test="nhnDateEd != null and nhnDateEd !=''">
             AND 
             	<if test="denKbnDb != null and denKbnDb =='03'">
					                      
					                      SYUKA_YMD
					                      
					               
							</if>
							<if test="denKbnDb != null and denKbnDb =='04'">
					                KEIJO_YMD
							</if>
							<if test="denKbnDb != null and denKbnDb !='03' and denKbnDb !='04' ">
								NHN_YMD
							</if> 
                		
	                		
                					 <![CDATA[<= ]]> #{nhnDateEd}
						</if>
						
             </if>
		    <choose>
           
                		<when test="nhnYDateSt != null and nhnYDateSt !=''">
	                		<if test="nhnYDateEd == null or nhnYDateEd ==''">
                					 AND LAST_KAKUTEI_YMD >= #{nhnYDateSt}
                			</if>
                			<if test="nhnYDateEd != null and nhnYDateEd !=''">
                					 AND LAST_KAKUTEI_YMD >= #{nhnYDateSt}
                					 AND  LAST_KAKUTEI_YMD <![CDATA[<= ]]>  #{nhnYDateEd}
                			</if>
						</when>
						<otherwise>
						 <if test="nhnYDateEd != null and nhnYDateEd !=''">
                					AND  LAST_KAKUTEI_YMD <![CDATA[<= ]]>  #{nhnYDateEd}
                			</if>
                           </otherwise>
		    </choose>
         <choose>
           
                		<when test="keijDateSt != null and keijDateSt !=''">
	                		<if test="keijDateEd == null or keijDateEd ==''">
                					 AND RUI_KEIJO_YMD >= #{keijDateSt}
                			</if>
                			<if test="keijDateEd != null and keijDateEd !=''">
                					 AND RUI_KEIJO_YMD >= #{keijDateSt}
                					 AND  RUI_KEIJO_YMD <![CDATA[<= ]]>  #{keijDateEd}
                			</if>
						</when>
						<otherwise>
						 <if test="keijDateEd != null and keijDateEd !=''">
                					AND  RUI_KEIJO_YMD <![CDATA[<= ]]>  #{keijDateEd}
                			</if>
                           </otherwise>
		    </choose>
		      <if test="kakuKbn != null and  kakuKbn !=''">
                	<choose>
                		<when test="flag !=''">
                			AND ENTRY_KBN LIKE #{kakuKbn} || '%'	
						</when>
						<otherwise>
						 	AND ENTRY_KBN = #{kakuKbn}
						</otherwise>
					</choose>
                </if>
		  
         AND SYORI_STS_KBN  <![CDATA[<>]]>  '1'
        AND  SYORI_STS_KBN <![CDATA[<>]]> '9'           
             ORDER BY 
		 <if test="denKbnDb != null and denKbnDb =='03'">
						<if test="idoDenKbn != null and idoDenKbn =='01'">
	                      
	                       OUT_TENPO_CD
	                       ,OUT_BMN_CD 
	                       ,SYUKA_YMD
	                       ,IN_TENPO_CD
	                      
	               
			</if>
			<if test="idoDenKbn != null and idoDenKbn =='02'">
	                IN_TENPO_CD
		            ,IN_BMN_CD	 
		            ,SYUKA_YMD           
		            ,OUT_TENPO_CD	
			</if>
			<if test="idoDenKbn != null and idoDenKbn !='01' and idoDenKbn !='02' ">
				TEN_CD
		    	,BMN_CD		
		    	,SYUKA_YMD         
		   		
			</if>
			<if test="idoDenKbn == null">
				TEN_CD
		    	,BMN_CD		
		    	,SYUKA_YMD         
		   		
			</if>
			,DPY_NO
	</if>
        <if test="denKbnDb != null and  denKbnDb =='04'">
        TEN_CD,BMN_CD,DPY_NO
        </if>  
        <if test="denKbnDb != null and denKbnDb !='03'and denKbnDb !='04'">
        TEN_CD,
       BMN_CD,
  NHN_YMD,
  MAIN_TORI_CD,
  DPY_NO
        </if>   
         <if test="denKbnDb == null">
        TEN_CD,
       BMN_CD,
  NHN_YMD,
  MAIN_TORI_CD,
  DPY_NO
        </if>     
		    
  </select>
</mapper>
