<div id=HAJP7000 ng-Controller='HAJP7000Ctrl' ng-init="initCond()">
    <!-- Start Condition -->
    <cc-mousetrap is-screen="false" />
    <form name="form" novalidate>
        <div id="condition" ng-form="condForm" class="cs-sb-bgtop cs-clearfix">
            <div class="cs-sb-bgbottom cs-clearfix">
                <div class="cs-sb-bg cs-clearfix">
                    <div class="cs-row cs-clearfix">
                        <div class="cs-col-2 hajp7000-margin-left-col-1">
                            <cc-jigyobu-combobox cc-label="事業部" cc-partition="3" id="jigyobuCd" name="jigyobuCd"
                                ng-model="cond.jigyobuCd" cc-required="true" cc-delexist=false cc-shortname=false
                                cc-parameter01="cond.kaisyaCd" cc-parameter02="" cc-error="error"
                                cc-combobox-focus="reFreshCond()" />
                        </div>
                        <div class="cs-col-2 hajp7000-margin-left-col-2">
                            <cc-ten-combobox cc-label="店舗" cc-partition="3" id="tenCd" name="tenCd"
                                ng-model="cond.tenCd" cc-required="true" cc-shortname=false cc-delexist=false
                                cc-parameter01="cond.kaisyaCd" cc-parameter02="cond.jigyobuCd" cc-parameter03=""
                                cc-readonly="false" cc-error="error" />
                        </div>
                    </div>
                    <div class="cs-row cs-clearfix">
                        <div class="cs-col-2 hajp7000-margin-left-col-1">
                            <cc-fromto-date-input cc-label="発注日" cc-partition="3" id="hatDayFr" name="hatDayFr"
                                ng-model="cond.hatDayFr" cc-required="false" id2="hatDayTo" name2="hatDayTo"
                                ng-model2="cond.hatDayTo" cc-required2="false" cc-error="error" />
                        </div>
                        <div class="cs-col-2 hajp7000-margin-left-col-2">
                            <cc-date-input cc-label="作業（送信）日" cc-partition="3" id="sendDay" name="sendDay"
                                ng-model="cond.sendDay" cc-required="true" cc-error="error" />
                        </div>
                        <div class="cs-f-left hajp7000-margin-left-col-3">
                            <cc-tantocd-input cc-label="担当者" cc-partition="3" id="tantoCd" name="tantoCd"
                                ng-model="cond.tantoCd" cc-required="false" cc-notexist=false cc-delexist=false
                                cc-width1="80" cc-width2="160" cc-parameter01="" id2="tantoNm" name2="tantoNm"
                                ng-model2="cond.tantoNm" cc-error="error" />
                        </div>
                    </div>
                    <div class="cs-row cs-clearfix">
                        <div class="cs-col-2 hajp7000-margin-left-col-1">
                            <div class="cs-label-large-required cs-label">
                                対象<span class="cs-txt-required"> *</span>
                            </div>
                            <div class="common-radio-control select2-container cs-char-15 cs-left">
                                <input type="radio" ng-model="cond.outTaisyo" id="error_only" name="outTaisyo" value="0">
                                <label for="error_only">エラーリスト</label> <input type="radio" ng-model="cond.outTaisyo"
                                    name="outTaisyo" id="all" value="1"> <label for="all">全件リスト</label>
                            </div>
                        </div>
                    </div>
                    <div class="cs-clearfix cs-search-bar">
                        <button type="button"
                            ng-class="{'cs-btn-submit': canExecute(), 'cs-btn-submit-dis': !canExecute()}"
                            ng-click="doExecute()" ng-disabled="!canExecute()">
                            <div>
                                実行<span>(F12)</span>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Condition -->
    </form>
    <!-- Start Result -->
    <div id="result" ng-hide="hiddenBar">
        <div class="cs-result-bg cs-clearfix"></div>
        <div class="cs-hajp7000-scroll">
            <div class="cs-result_box cs-clearfix">
                <div class="cs-row cs-clearfix" id="loadingBarContainer">

                    <cc-progress-bar></cc-progress-bar>
                </div>
            </div>
        </div>
    </div>
    <!-- End Result -->
    <!-- Start Footer -->
    <div id="footer">
        <div class="cs-footer-button">
            <button type="button" class="cs-btn-reset" tabindex="-1" ng-click="doClear()">
                <div>
                    クリア<span>(F3)</span>
                </div>
            </button>
        </div>
    </div>
    <!-- End Footer -->
</div>


