<div id='ZIJP1020' ng-Controller='ZIJP1020Ctrl'>
	<!-- Start Condition -->
	<cc-mousetrap is-screen="false"/>
	<form name="form">
		<div id="condition" ng-form="condForm" class="cs-sb-bgtop cs-clearfix">
			<div class="cs-sb-bgbottom cs-clearfix">
				<div class="cs-sb-bg cs-clearfix">
					<div class="cs-row cs-clearfix">
						<div class="cs-col-2">
							<cc-kbn-combobox cc-label="出力区分" cc-partition="3" id="kbn" name="kbn" 
							ng-model="cond.kbn" cc-required="true" ng-maxlength="1" cc-key1="Z0002" 
							cc-shortname=false cc-error="error" cc-combobox-focus="reFreshCond()"/>
						</div>
						<div class="cs-col-2">
							<cc-jigyobu-combobox cc-label="事業部" cc-partition="3" id="jigyobuCd" name="jigyobuCd" 
							ng-model="cond.jigyobuCd" cc-required="true" cc-delexist=false cc-shortname=false 
							cc-parameter01="cond.kaisyaCd" cc-parameter02="" cc-error="error"/>
						</div>
					</div>
					<div class="cs-row cs-clearfix">
						<div class="cs-col-2">
							<cc-ten-combobox cc-label="店舗" cc-partition="3" id="tenCd" name="tenCd" 
							ng-model="cond.tenCd" cc-required="false" cc-shortname=false cc-delexist=false 
							cc-parameter01="cond.kaisyaCd" cc-parameter02="cond.jigyobuCd" cc-parameter03="" cc-error="error"/>
						</div>
						<div class="cs-col-2">
							<cc-bmn-combobox cc-label="部門" cc-partition="3" id="bmnCd" name="bmnCd" 
							ng-model="cond.bmnCd" cc-required="false" cc-delexist=false cc-shortname=false 
							cc-parameter01="cond.jigyobuCd" cc-parameter02="" cc-error="error"/>
						</div>
					</div>
					<div class="cs-clearfix cs-search-bar">
						<button type="button" 
						ng-class="{'cs-btn-submit': canExecute(), 'cs-btn-submit-dis': !canExecute()}" 
						ng-click="doExecute()" ng-disabled="!canExecute()"> 
                            <div>実行<span>(F12)</span></div>
                        </button>
					</div>
				</div>
			</div>
		</div>
<!-- End Condition -->
<!-- Start Result -->
       <div id="result" ng-hide="hiddenBar">
               <div class="cs-result-bg cs-clearfix"></div>
            <div class="cs-report-scroll">
                <div class="cs-result_box cs-clearfix">
                    <div class="cs-row cs-clearfix" id="loadingBarContainer">
                        
                        <cc-progress-bar></cc-progress-bar>
                    </div>
                </div>
            </div>
        </div>
	</form>
		<!-- End Result -->
		<!-- Start Footer -->
		<div id="footer">
			<div class="cs-footer-button">
							<button type="button" class="cs-btn-reset" tabindex="-1" ng-click="doClear()">
                  					<div>クリア<span>(F3)</span></div>
						</button>
					</div>
			</div>
		</div>
		<!-- End Footer -->
</div>
