<div id=SIJP1140 ng-Controller='SIJP1140Ctrl'>
	<!-- Start Condition -->
	<cc-mousetrap is-screen="false"/>
	<form name="form">
		<div id="condition" ng-form="condForm" class="cs-sb-bgtop cs-clearfix">
			<div class="cs-sb-bgbottom cs-clearfix">
				<div class="cs-sb-bg cs-clearfix">
					<div class="cs-row cs-clearfix">
						<div class="cs-col-2">
							<cc-jigyobu-combobox cc-label="事業部" cc-partition="3" id="jigyoubuCd" name="jigyoubuCd" ng-model="cond.jigyoubuCd" cc-required="true" cc-delexist=false cc-shortname=false cc-parameter01="cond.kaisyaCd" cc-parameter02="sysdate" cc-combobox-focus="reFreshCond()" cc-error="error"/>
						</div>
						<div class="cs-col-2">
							<cc-mei-combobox cc-label="伝区" cc-partition="3" id="dpyKbn" name="dpyKbn" ng-model="cond.dpyKbn" cc-required="true" ng-maxlength="2" cc-delexist=false cc-shortname=false cc-key1="SIR" cc-key2="DPY_KBN_" cc-parameter01="" cc-error="error"/>
						</div>
					</div>
					<div class="cs-row cs-clearfix">
						<div class="cs-col-6">
							<cc-ten-mltcombobox cc-label="店舗" cc-partition="3" id="tenCd" name="tenCd" ng-model="cond.tenCd" cc-required="false" cc-max="10" cc-shortname=false cc-datalist="tenCdList" cc-delexist=false cc-parameter01="cond.kaisyaCd" cc-parameter02="cond.jigyoubuCd" cc-parameter03="" cc-error="error"/>
						</div>
						</div>
						<div class="cs-row cs-clearfix">
						<div class="cs-col-6">
							<cc-bmn-mltcombobox cc-label="部門" cc-partition="3" id="bmnCd" name="bmnCd" ng-model="cond.bmnCd" cc-required="false" cc-max="10" cc-shortname=false cc-datalist="bmnCdList" cc-delexist=false cc-parameter01="cond.jigyoubuCd" cc-parameter02="" cc-error="error"/>
						</div>
						</div>
						<div class="cs-row cs-clearfix">
						<div class="cs-col-6">
							<cc-tri-mltcombobox cc-label="取引先" cc-partition="3" id="torihikiCd" name="torihikiCd" ng-model="cond.torihikiCd" cc-required="false" cc-max="10" cc-width ="602" cc-delexist=false cc-shortname=false cc-parameter01="" cc-error="error"/>
						</div>
						</div>
				
					<div class="cs-row cs-clearfix">
						<div class="cs-col-4">
							<cc-fromto-date-input cc-label="納品予定日" cc-partition="3" id="nhnYoteiYmdSt" name="nhnYoteiYmdSt" ng-model="cond.nhnYoteiYmdSt" cc-required="false" id2="nhnYoteiYmdEd" name2="nhnYoteiYmdEd" ng-model2="cond.nhnYoteiYmdEd" cc-required2="false" cc-error="error"/>
						</div>
					</div>
					<div class="cs-row cs-clearfix">
						<div class="cs-col-4">
							<cc-fromto-date-input cc-label="発注日" cc-partition="3" id="hatYmdSt" name="hatYmdSt" ng-model="cond.hatYmdSt" cc-required="false" id2="hatYmdEd" name2="hatYmdEd" ng-model2="cond.hatYmdEd" cc-required2="false" cc-error="error"/>
						</div>
					</div>
					<div class="cs-clearfix cs-search-bar">
						<button type="button"
							ng-class="{'cs-btn-submit': canExecute(), 'cs-btn-submit-dis': !canExecute()}"
							ng-click="doExecute()" ng-disabled="!canExecute()">
							<div>
								実行<span>(F12)</span>
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>
		</form>
<!-- End Condition -->
<!-- Start Result -->
		<div id="result" ng-hide="hiddenBar">
			<div class="cs-result-bg cs-clearfix"></div>
			<div class="cs-report-scroll">
				<div class="cs-result_box cs-clearfix">
					<div class="cs-row cs-clearfix" id="loadingBarContainer">
						
						<cc-progress-bar></cc-progress-bar>
					</div>
				</div>
			</div>
		</div>
	
		<!-- End Result -->
		<!-- Start Footer -->
		<div id="footer">
			<div class="cs-footer-button">
							<button type="button" class="cs-btn-reset" tabindex="-1" ng-click="doClear()">
                  					<div>クリア<span>(F3)</span></div>
						</button>
					</div>
			</div>
		</div>
		<!-- End Footer -->
</div>
